body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.HongEnWord.back {
    width: 7.5rem;
    height: 100vh;
    position: relative;
    background: url('./img/HongEnWordBackV2.png') 0 0 no-repeat;
    background-size: cover;
}
.HongEnWord div {
    position: absolute;
}

.HongEnWord .dot {
    width: 0.5rem;
    height: 0.5rem;
    border: 0.01rem solid #6feef3;
    border-radius: 50%;
    background-color: #6feef3;
    top: calc(50vh - 0.25rem);
    left: calc(50vw - 0.25rem);
}


.HongEnWord .dot1 {
    width: 1.50rem;
    height: 1.5rem;
    border: 0.01rem solid #6feef3;
    border-radius: 50%;
    background-color: #6feef3;
    top: calc(50vh - 0.75rem);
    left: calc(50vw - 0.75rem);
    opacity: 0;
    box-shadow: 0.01rem 0.01rem 0.3rem #6feef3;
    animation: dot1 2s ease-out infinite;
}

@keyframes dot1{
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

.HongEnWord .dot {
    width: 0.5rem;
    height: 0.5rem;
    border: 0.01rem solid #6feef3;
    border-radius: 50%;
    background-color: #6feef3;
    top: calc(50vh - 0.25rem);
    left: calc(50vw - 0.25rem);
}


.HongEnWord .dot2 {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.01rem solid #6feef3;
    border-radius: 50%;
    background-color: #6feef3;
    top: calc(50vh - 0.75rem);
    left: calc(50vw - 0.75rem);
    opacity: 0;
    box-shadow: 0.01rem 0.01rem 0.3rem #6feef3;
    animation: dot2 2s ease-out infinite;
}

@keyframes dot2{
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.0;
    }
}

.HongEnWord .tabHands {
    position: absolute;
    width: 1.05rem;
    height: 1.01rem;
    top: calc(50vh);
    left: calc(50vw);
    background: url('./img/tabHands.png') 0 0 no-repeat;
    background-size: cover;
    animation: hands 2s ease-out infinite;
    opacity: 0;
}

@keyframes hands{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 0;
    }
}

/* 偏旁部首样式设置 */
.word_1 {
    width:0.64rem;
    height: 0.49rem;
    background: url('./img/words_1.png') 0 0 no-repeat;
    background-size: cover;
    top: 0.15rem;
    left: 2rem;
    animation: word_1 2s ease-in-out infinite;
    transform-origin: 50% 50%;
}
@keyframes word_1 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(7deg);
    }
}
.word_2 {
    top: 0.7rem;
    left: 5.85rem;
    width: 0.37rem;
    height: 0.47rem;
    background: url('./img/words_2.png') 0 0 no-repeat;
    background-size: cover;
    animation: word_2 2s ease-in-out infinite;
}
@keyframes word_2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
}
.word_3 {
    top: 1.44rem;
    left: 3.55rem;
    width: 1.21rem;
    height: 0.31rem;
    background: url('./img/words_3.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_3 4s ease-in-out infinite;
}
@keyframes word_3 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.word_4 {
    top: 1.9rem;
    left: 0.3rem;
    width: 1.21rem;
    height: 0.78rem;
    background: url('./img/words_4.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_4 2s ease-in-out infinite;
}
@keyframes word_4 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
}
.word_5 {
    top: 2.66rem;
    left: 2.26rem;
    width: 0.5rem;
    height: 0.45rem;
    background: url('./img/words_5.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_5 4s ease-in-out infinite;
}
@keyframes word_5 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
}
.word_6 {
    top: 2.85rem;
    left: 6.23rem;
    width: 0.45rem;
    height: 0.46rem;
    background: url('./img/words_6.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_6 3s ease-in-out infinite;
}
@keyframes word_6 {
    0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(10deg, 10deg);
    }
}
.word_7{
    top: 3.55rem;
    left: 3.02rem;
    width: 0.75rem;
    height: 0.89rem;
    background: url('./img/words_7.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_7 3s ease-in-out infinite;
}
@keyframes word_7 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
}
.word_8{
    top: 4.44rem;
    left: 0.33rem;
    width: 0.75rem;
    height: 0.89rem;
    background: url('./img/words_8.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_8 3s ease-in-out infinite;
}
@keyframes word_8 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
}
.word_9{
    top: 5.39rem;
    left: 1.96rem;
    width: 0.47rem;
    height: 0.44rem;
    background: url('./img/words_9.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_9 3s ease-in-out infinite;
}
@keyframes word_9 {
   0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(-20deg, -20deg);
    }
}
.word_10{
    top: 5.12rem;
    left: 5.47rem;
    width: 0.26rem;
    height: 0.37rem;
    background: url('./img/words_10.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_10 3s ease-in-out infinite;
}
@keyframes word_10 {
    0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(20deg, 20deg);
    }
}
.word_11{
    top: 4.68rem;
    left: 6.73rem;
    width: 0.5rem;
    height: 1.21rem;
    background: url('./img/words_11.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_11 3s ease-in-out infinite;
}
@keyframes word_11 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
}
.word_12{
    top: 6.81rem;
    left: 1.31rem;
    width: 0.31rem;
    height: 0.3rem;
    background: url('./img/words_12.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_12 2s ease-in-out infinite;
}
@keyframes word_12 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
}
.word_13{
    top: 6.83rem;
    left: 5.28rem;
    width: 0.53rem;
    height: 0.55rem;
    background: url('./img/words_13.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_13 2s ease-in-out infinite;
}
@keyframes word_13 {
    0% {
        transform: skew(0deg, 0deg);
    }
    25% {
        transform: skew(20deg, 20deg);
    }
}
.word_14{
    top: 8.12rem;
    left: 0.5rem;
    width: 0.58rem;
    height: 0.7rem;
    background: url('./img/words_14.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_14 2s ease-in-out infinite;
}
@keyframes word_14 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
}
.word_15{
    top: 8.82rem;
    left: 6.73rem;
    width: 0.52rem;
    height: 0.52rem;
    background: url('./img/words_15.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_15 2s ease-in-out infinite;
}
@keyframes word_15 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
}
.word_16{
    top:11.25rem;
    left: 1.33rem;
    width: 0.37rem;
    height: 0.35rem;
    background: url('./img/words_16.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_16 2s ease-in-out infinite;
}
@keyframes word_16 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
}
.word_17{
    top:10.5rem;
    left: 3.95rem;
    width: 0.7rem;
    height: 0.61rem;
    background: url('./img/words_17.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_16 2s ease-in-out infinite;
}
@keyframes word_17 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
}
.word_18{
    top:12.06rem;
    left: 3.75rem;
    width: 0.53rem;
    height: 0.55rem;
    background: url('./img/words_18.png') 0 0 no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: word_16 2s ease-in-out infinite;
}
@keyframes word_18 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
}

/* 文字描述部分 */
.description {
    display: none; 
    color: #fff;
    font-family: "华文仿宋";
    top: calc(50vh + 1.8rem);
    left: calc(50vw - 1.8rem);
    line-height: 0.5rem;
    font-size: 0.36rem;
}
.description div {
    position: static;
    text-align: center;
}