body{
            background-color: black;
        }
        .planet{
            width: 800px;
            height: 600px;
            background-color: black;
            position: relative;
            border: 1px solid white;
        }
        .planet div{
            position: absolute;
        }
        .sun{
            left: 350px;
            top: 250px;
            width: 100px;
            height: 100px;
            background: url(http://images2015.cnblogs.com/blog/818663/201510/818663-20151013205656257-1729257972.png) 0 0 no-repeat;
        }
        .earth{
            top: 0;
            left: 370px;
            width: 60px;
            height: 60px;
            background: url(http://images2015.cnblogs.com/blog/818663/201510/818663-20151013205943538-1279197333.png) 0 0 no-repeat;
            transform-origin: 30px 400px;

            animation: rotation 8s linear infinite;

        }
        .moveY{
            animation: moveY 4s ease-in-out infinite alternate;
        }
        @keyframes moveY{
            to{
                transform: translateY(-200px);
            }
        }
        @keyframes rotation{
            to{
                transform: rotate(1turn);
            }
        }
        .track{
            width: 340px;
            height: 140px;
            left: 30px;
            top: 30px;
            border: 1px solid darkgrey;
            border-radius: 50%;
        }